# dependencies

node_modules/

# build output

dist/
build/

# env files

.env
.env.*
!.env.example

# logs

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# testing

coverage/

# prisma

prisma/dev.db
prisma/dev.db-journal

# cache

.cache/
.tmp/

# docker

docker-data/

# misc

*.swp
